@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background:linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'DM Sans', sans-serif;
}

.hide {
    display: none;
}

main {
    background: #FFFF;
    padding: 4.8rem 6.4rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    width: min(42.8rem, 90%);
    margin-top: -12rem;

    text-align: center;
}

 body, input, button {
    font-family: 'DM Sans', sans-serif;
 }

 button {
    background-color: #7879f1;
    color: #ffff;
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0;
    cursor:pointer;

    transition: all .3s;
}

button:hover {
    background-color: #6363ce;
}

/* Screen1 */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
}

h1, p {
    color: #34355B;
}

p {
    margin-top: 1rem;
    opacity: 80%;
}

form {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
}

input, button {
    border: none;
    padding: 1.6rem;
}

input {
    background-color: #dce2e9;
    width: 10rem;
    border-radius: .4rem 0 0 .4rem;
}

/* Screen2 */
h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 3.3rem;
}

.screen2 button {
    border-radius: .4rem .4rem .4rem .4rem;
}